.not-paid{
    color:#DB2419;
    background-color: hsla(3, 80%, 48%, 0.4);
    border-radius: 8.5px;
    font-size: 10.5px;
    padding: 1.5px;
    padding-left: 3.5;
    padding-right: 3.5;


}
 
.paid{
    color:#6ACC74;
    
    background-color:#6ACC7466;
    
    border-radius: 8.5px;
    font-size: 10.5px;
    padding: 1.5px;
    padding-left: 3.5;
    padding-right: 3.5;

}

.draft{
    color: #E1BF45;
    background-color: #E1BF4566;
    border-radius: 8.5px;
    font-size: 10.5px;
    padding: 1.5px;
    padding-left: 3.5;
    padding-right: 3.5;


}

button{
    background: #ECECEC;
    border: 0px;
    font-size: smaller;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color:#5F5F5F;
    border-radius: 2px;


}

.menu-link:hover {
    pointer-events: none; /* Disable pointer events */
  }


  .not-paid {
    color: red; /* Adjust the color as per your design */
  }
  
  .draft {
    color: blue; /* Adjust the color as per your design */
  }
  /* your-component.component.css */

/* Style for the label */
label {
  display: block; /* Make the label block-level for proper alignment */
  margin-bottom: 5px; /* Add some space below the label */
}

/* Style for the select dropdown */
select {
  width: 200px; /* Set a fixed width for consistency */
  padding: 5px; /* Add some padding for better appearance */
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add a border for clarity */
  border-radius: 5px; /* Add some border radius for rounded corners */
}

/* Style for the options */
option {
  font-size: 14px; /* Adjust font size as needed */
}
