.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  width: 1.5rem; /* Adjust size as needed */
  height: 1.5rem; /* Adjust size as needed */
  color: white !important; /* Change color as desired */
}

