

  
  <p class="p-content"> Invoicing</p>
  <img src="assets/img/Icon.png" class="center" width="25px" height="auto">
  
  <br/>
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
      <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
      <link rel="stylesheet" href="/assets/css/demo.css" />
  
    <body>
      <!-- Layout wrapper -->
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
       
  
          <!-- Layout container -->
          <div class="layout-page">
          
            <div class="content-wrapper">
              <!-- Content -->
  
              <div class="container-xxl flex-grow-1 container-p-y">
                
                <div class="row">
                  <div class="col">
                    <div class="card h-100">
  
                        <div class="">
                          <div class="">

                            <form [formGroup]="loginForm" (ngSubmit)="LoginUser()">
                              <label>Email Address</label>
                              <input type="text" style="margin-bottom: 25px;" formControlName="email" id="email">
                              <div *ngIf="login['email'].invalid && (login['email'].dirty || login['email'].touched)" class="alert alert-danger">
                                <span *ngIf="login['email'].errors?.['required']">email Address is required</span>
                                <span *ngIf="login['email'].errors?.['email']">Please enter a valid email</span>
                              </div>
                            
                              <label>Password</label>
                              <input type="password" style="margin-bottom: 25px;" formControlName="password" id="password">
                              <div *ngIf="login['password'].invalid && (login['password'].dirty || login['password'].touched)">
                                <div *ngIf="login['password'].errors?.['required']" class="alert alert-danger">Password is required</div>
                                <div *ngIf="login['password'].errors?.['minlength']" class="alert alert-danger">Password must be at least 8 characters long.</div>
                              </div>
                            
                              <button type="submit" [disabled]="loginForm.invalid || submittingForm" class="button buttonBlue" style="width: 100%; height:43px; position: relative;">
                                <span *ngIf="!submittingForm">Login</span>
                                <div *ngIf="submittingForm" class="spinner-container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </button>
                            
              <!-- Loading spinner -->
             
                              <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
                                {{ alertMessage }}
                            </div>
                            </form>
                            

                        <div style="margin-left: 33px; margin-bottom: 15px;">

                        <a routerLink="/forgot_password" style="color: #9570F1;">Forgot Password?</a><br>

                        New User? <a routerLink="/register" style="color: #9570F1;">Create Account</a>

                       
                        </div>
                      
  
                          </div>
                       
                        </div>
                    
                      
                    </div>
                  </div>
   
                </div>
  
                <div class="scroll-container">
  
                
  
              </div>
  
              
             
              </div>
              <br/>
              <br/>
              <!-- / Content -->
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
    </body>
  
  
  
  
  
  
  