
    <link rel="stylesheet" href="/assets/vendor/css/core.css"  />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css"/>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
     

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  <ion-buttons class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <ion-button routerLink="/dashboard" class="nav-item px-0 me-xl-4">
      <ion-label class="rounded-background"><strong>X</strong></ion-label>
    </ion-button>
  </ion-buttons>
  

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <!-- /Search -->

    <ion-buttons class="navbar-nav flex-row align-items-center ms-auto">
      <ion-button class="nav-item lh-1 me-3" fill="clear">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-label>Invoice Or<br><br>Quotation</ion-label>
      </ion-button>
    </ion-buttons>
  </div>
</nav>


<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  <a (click)="toggleForms('form1')" [class.active]="currentForm === 'form1'">Invoice Information</a>
  <a (click)="toggleForms('form2')" [class.active]="currentForm === 'form2'">Client data</a>
  <a (click)="toggleForms('form3')" [class.active]="currentForm === 'form3'">Items & payment</a>
</nav>


        

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            

            <div class="container-xxl flex-grow-1 container-p-y" >
              
              <div class="row">
                <div class="col">
                  <div class="card h-100">

                      <div class="">
                        <div class="">
                          <form [formGroup]="formData" *ngIf="currentStep === 1"(ngSubmit)="nextStep()">
                            <div formGroupName="client">
                              <!-- Client Information Fields -->
                              <label>First Name:</label>
                              <input type="text" style="margin-bottom: 25px;" formControlName="f_name" required />
                              <div *ngIf="formData.get('client.f_name')?.invalid && formData.get('client.f_name')?.touched">
                                <div *ngIf="formData.get('client.f_name')?.errors?.['required']" class="alert alert-danger">
                                  First Name is required.
                                </div>
                              </div>
                              
                              
                              <label>Last Name:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="l_name" required />
                              <div *ngIf="formData.get('client.l_name')?.invalid && formData.get('client.l_name')?.touched">
                                <div *ngIf="formData.get('client.l_name')?.errors?.['required']" class="alert alert-danger">
                                  Last Name is required.
                                </div>
                              </div>
                              
                              <label>Email:</label>
                              <input type="email"  style="margin-bottom: 25px;" formControlName="email" required />
                              <div *ngIf="formData.get('client.email')?.invalid && formData.get('client.email')?.touched">
                                <div *ngIf="formData.get('client.email')?.errors?.['required']"   class="alert alert-danger">Email is required. </div>
                                <div *ngIf="formData.get('client.email')?.errors?.['email']"   class="alert alert-danger">Enter a valid Email Address. </div>
                              </div>
                              
                              <label>Phone Number:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="phoneNo" required />
                              <div *ngIf="formData.get('client.phoneNo')?.invalid && formData.get('client.phoneNo')?.touched">
                                <div *ngIf="formData.get('client.phoneNo')?.errors?.['required']"   class="alert alert-danger">Phone Number is required.</div>
                                <div *ngIf="formData.get('client.phoneNo')?.errors?.['pattern']"   class="alert alert-danger">A valid Phone Number is required.</div>
                              </div>
                            </div>
                            <br>
                            <button type="submit"   class="button buttonBlue" >Continue
                              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                            </button>
                          </form>

                        </div>
                        
                        <div id="orderStatisticsChart"></div>
                      </div>
                      
                    
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col">
                  <div class="card h-100">

                      <div class="">
                        <div class="">
                          <form [formGroup]="formData" *ngIf="currentStep === 2"  (ngSubmit)="nextStep()">
                            <div formGroupName="clientAddress">
                              <!-- Client Address Fields -->
                              <label>Street Number:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="streetNo" required />
                              <div *ngIf="formData.get('clientAddress.streetNo')?.invalid && formData.get('clientAddress.streetNo')?.touched">
                                <div *ngIf="formData.get('clientAddress.streetNo')?.errors?.['required']" class="alert alert-danger">street Number is required.</div>
                                <div *ngIf="formData.get('clientAddress.streetNo')?.errors?.['pattern']" class="alert alert-danger">A valid Street Number is required.</div>
                              </div>
                              <label>Street Name:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="streetName" required />
                              <div *ngIf="formData.get('clientAddress.streetName')?.invalid && formData.get('clientAddress.streetName')?.touched">
                                <div *ngIf="formData.get('clientAddress.streetName')?.errors?.['required']" class="alert alert-danger">Street Name is required.</div>
                                
                              </div>
                              <label>Town:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="town" required />
                              <div *ngIf="formData.get('clientAddress.town')?.invalid && formData.get('clientAddress.town')?.touched">
                                <div *ngIf="formData.get('clientAddress.town')?.errors?.['required']" class="alert alert-danger">Town Name is required.</div>
                                
                              </div>
                              <label>City:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="city" required />
                              <div *ngIf="formData.get('clientAddress.city')?.invalid && formData.get('clientAddress.city')?.touched">
                                <div *ngIf="formData.get('clientAddress.city')?.errors?.['required']" class="alert alert-danger">City Name is required.</div>
                                
                              </div>

                              <label>Postal Code:</label>
                              <input type="text"  style="margin-bottom: 25px;" formControlName="postalCode" required />
                              <div *ngIf="formData.get('clientAddress.postalCode')?.invalid && formData.get('clientAddress.postalCode')?.touched">
                                <div *ngIf="formData.get('clientAddress.postalCode')?.errors?.['required']" class="alert alert-danger">street Number is required.</div>
                                <div *ngIf="formData.get('clientAddress.postalCode')?.errors?.['pattern']" class="alert alert-danger">A valid Street Number is required.</div>
                              </div>
                            </div>
                            <br>
                            <button type="submit"   class="button buttonBlue" >Continue
                              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                            </button>
                          </form>

                        </div>
                        <div id="orderStatisticsChart"></div>
                      </div>
                      
                    
                  </div>
                </div>
                </div>
                <div class="row">

                <div class="col">
                  <div class="card h-100">

                      <div class="">
                        <div class="">
                          <form [formGroup]="formData" *ngIf="currentStep === 3"(ngSubmit)="onSubmit()">
                        
                            <!-- Items -->
                            <div formArrayName="items">
                              <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                                <label>Item Description:</label>
                                <input type="text"  style="margin-bottom: 25px;" formControlName="desc" required />
                                <div *ngIf="items.controls[i].get('desc')?.errors && items.controls[i].get('desc')?.touched">
                                  <div *ngIf="items.controls[i].get('desc')?.errors?.['required']" class="alert alert-danger">Description is required.</div>
                                </div>
                                <label>Price:</label>
                                <input type="text" style="margin-bottom: 25px;" formControlName="price" required />
                                <div *ngIf="items.controls[i].get('price')?.errors && items.controls[i].get('price')?.touched">
                                  <div *ngIf="items.controls[i].get('price')?.errors?.['required']" class="alert alert-danger">Price is required.</div>
                                  <div *ngIf="items.controls[i].get('qty')?.errors?.['pattern']" class="alert alert-danger">A valid Price is required.</div>
                                </div>
                                <label>Quantity:</label>
                                <input type="text" style="margin-bottom: 25px;" formControlName="qty" required />
                                <div *ngIf="items.controls[i].get('qty')?.errors && items.controls[i].get('qty')?.touched">
                                  <div *ngIf="items.controls[i].get('qty')?.errors?.['required']" class="alert alert-danger">Quantity is required.</div>
                                  <div *ngIf="items.controls[i].get('qty')?.errors?.['pattern']" class="alert alert-danger">A valid Quantity is required.</div>
                                </div>
                                
                                <div class="button-container">
                                  <button type="button" (click)="removeItem(i)" style="left: -10px"class="buttons buttonBlues">Remove Item</button>
                                  <button type="button" (click)="addItem()" class="buttons buttonBlues">Add Item</button>
                                </div>                             
                               </div>
                            </div>
                            
                          
                        <div>
                              
                           <label>Type:</label>
                            <select style="margin-bottom: 25px;" formControlName="type" required>
                              <option value="">Select Type</option>
                             <option value="Invoice">Invoice</option>
                                <option value="Quote">Quote</option>
                                </select>

                             <div *ngIf="formData.get('type')?.invalid && formData.get('type')?.touched">
                               <div *ngIf="formData.get('type')?.errors?.['required']" class="alert alert-danger">Type is required.</div>
                        </div>
                            </div>
                            <div *ngIf="businessInfoResponse; else noCompany" style="display: none;">
                              <!-- Display the selected company name within an input field -->
                              <div>
                                <label for="companyName">Company Name:</label>
                                <input type="text" id="companyName" [value]="selectedCompanyName" formControlName="companyName" readonly>
                              </div>
                            </div>
                            
                            <!-- Else block for no company -->
                            <ng-template #noCompany>
                              <div>
                                <p>No company available.</p>
                              </div>
                            </ng-template>
                            

                            <button type="submit" [disabled]="formData.invalid || submittingForm" class="button buttonBlue" style="width: 100%; height:43px; position: relative;">
                              <span *ngIf="!submittingForm">Create</span>
                              <div *ngIf="submittingForm" class="spinner-container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                  <div class="spinner-border text-primary" role="status">
                                      <span class="visually-hidden">Loading...</span>
                                  </div>
                              </div>
                          </button>
                                                          
                
                            <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
                              {{ alertMessage }}
                            </div>
                          </form>
                        </div>
                        <div id="orderStatisticsChart"></div>
                      </div>
                      
                    
                  </div>
                </div>


                <!---->
 
              </div>
            </div>

            <div class="container-xxl flex-grow-1 container-p-y" >
              
              <div class="row">
               
 
              </div>
            </div>

            <!--Items and Payments-->

            <div class="container-xxl flex-grow-1 container-p-y" >
              
              <div class="row">
                
 
              </div>
            </div>

            <!--End Of Items-->
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    

 
  </body>
