
    <body>
         
      <!-- Layout wrapper -->
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
       
  
          <!-- Layout container -->
          <div class="layout-page">
          
            <div class="content-wrapper">
              <!-- Content -->
              <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                  <img src="assets/img/invoice-icon-25-removebg-preview 1.svg" class="" width="178px" height="178px" style="margin-top: 50px;">
                </div>
              </div>
         <p class="p-content"> Easily access your <br/>
          <br/>
          <br/>receipts everywhere</p>

              <div class="container-xxl flex-grow-1 container-p-y">
                
                <div class="d-grid gap-2 col-10 mx-auto" style="margin-bottom: 15px;">
                  <button class="btn2 btn2-primary" type="button" (click) ="navigateToHome()">Get started</button>
              </div>
              <div class="d-grid gap-2 col-10 mx-auto">
                <button class="btn1 btn1-primary" type="button" routerLink="/login">Login</button>
                
            </div>
              </div>
              <br/>
              <br/>
              <!-- / Content -->
              <div class="content-backdrop fade"></div>
            </div>
          </div>
        </div>
  
      </div>
    </body>
  
  
  
  
  
  
  
  