
.bottom-menu ul li a:hover {
    pointer-events: none; /* Disable pointer events */
  }

  .custom-btn {
    margin-left: 28px;
    float: right;
    margin-bottom: -10px;
    margin-top: 10px;
    background-color: #9570F1;
    /* Add any additional styles as needed */
}
.filter{
  background: #ECECEC;
  border: 0px;
  font-size: smaller;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  color:#5F5F5F;
  border-radius: 2px;

}
.filter-btn{
  background-color: #9570F1;
  width: 100%;
  border: 1px solid #9570F1;
  
}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner-border {
width: 3rem; /* Adjust the width */
height: 3rem; /* Adjust the height */
}  

/* Custom CSS for styling the dropdown */
.form-select {
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.form-select:focus {
 
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.rounded-background {
  width: 20px;
  height: 20px;
  background-color: #9570F1; /* Set your desired background color */
  border-radius: 50%; /* Use 50% for a circle, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /* Set your desired text color */
}

.custom-form-field {
  width: 100%; /* Set the width as desired */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.custom-form-field input.mat-input {
  font-size: 16px; /* Set the font size */
  color: #333; /* Set the text color */
}

.custom-form-field mat-datepicker-toggle {
  color: #666; /* Set the color of the date picker toggle icon */
}

.custom-form-field mat-datepicker-content {
  background-color: #f5f5f5; /* Set the background color of the date picker */
}
.date-input-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

 mat-datepicker-toggle {
  position: absolute;
  top: 35%;
  right: 8px; /* Adjust as needed */
  transform: translateY(-50%);
  left: 87%;
}

