<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />


    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
     

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a routerLink="/dashboard" class="nav-item nav-link px-0 me-xl-4">
                <strong class="rounded-background">X</strong>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
             
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    ><strong>Quotations</strong></a
                  >
                </li>

               
              </ul>
            </div>
          </nav>
          
          <div class="row">
            <div class="col-12">
              <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                  <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <li style="margin-left: 10px;">
                      <a (click)="toggleForms('form1')">All</a>
                    </li>
                    <li style="margin-left: 25px;">
                      <input type="text" placeholder="Search Quotations" [(ngModel)]="searchQuery" (input)="performSearch()">
                    </li>
                    <li style="margin-left: 10px;">
                      <button class="filter" (click)="toggleForms('form4')">Filter</button>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
                    <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" >
              
              <div class="row">
<div class="col">                  <div class="card h-100">

                    <div class="card-body" style="border-bottom: 2px; border-color: #9570F1;" *ngIf="currentForm === 'form1'">
                      <div class="">
                        <div class="">
                          <div *ngFor="let quote of quotes">
                            <span style="text-align: left; cursor: pointer;" (click)="getQuoteDetails(quote.quoteNo)">
                              {{ '#' + quote.quoteNo }} . {{ quote.date }}
                            </span><br>

                          <label>{{quote.companyName}}</label>

                          <span style=" text-align: right; float: inline-end;"> R {{quote.totalAmount}}</span><br>

                          <hr>
                        
                          </div>
                        </div>
                        <div id="orderStatisticsChart"></div>
                      </div>
                      
                    </div>
                  </div>
                </div>


               
                           <!-- Filtering -->
                           
<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4" *ngIf="currentForm === 'form4'">
  <div class="card h-100">
    <div class="card-body" style="border-bottom: 2px; border-color: #9570F1;">
      <div class="">
        <div class="">
          <div class="date-input-container">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </div>
        
          <div class="date-input-container">
            <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </div>
          
          
          <select class="form-select" [(ngModel)]="amountRange">
            <option value="">Select Amount Range</option>
            <option value="0 - 100">R0 - R100</option>
            <option value="100 - 500">R100 - R500</option>
            <option value="500 - 1000">R500 - R1,000</option>
            <option value="1000 - 5000">R1,000 - R5,000</option>
            <option value="5000 - 10000">R5,000 - R10,000</option>
            <option value="10000 - 50000">R10,000 - R50,000</option>
            <option value="50000 - 100000">R50,000 - R100,000</option>
            <option value="100000 - 500000">R100,000 - R500,000</option>
            <option value="500000 - 1000000">R500,000 - R1,000,000</option>
            <option value="1000000 - 5000000">R1,000,000 - R5,000,000</option>
            <option value="5000000 - 10000000">R5,000,000 - R10,000,000</option>
          </select>
<br>
<br>
    <div style="margin-bottom: -50x; width: 100%;">
            <button class="btn btn-secondary filter-btn" (click)="applyFilter()">Apply Filter</button>
    </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of Filtering -->

<!-- Displaying details -->
<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4" *ngIf="currentForm === 'form5'">
  <div class="card h-100">
    <div class="card-body" style="border-bottom: 2px; border-color: #9570F1;">
      <div class="">
        <div class="">
      <!-- Displaying Invoice Details -->
      <h3><strong>QUOTATION DETAILS</strong></h3>
      <hr style="margin-top: -10px;">



      <div *ngIf="quoteDetails">
        <p><strong>Quote Number:</strong> {{ quoteDetails.quoteNo }}</p>
        <p><strong>Date:</strong> {{ quoteDetails.date }}</p>
      
        <h3><strong>CLIENT DETAILS</strong></h3>
        <hr style="margin-top: -10px;">
        <p><strong>Name:</strong> {{ quoteDetails.client.f_name }} {{ quoteDetails.client.l_name }}</p>
        <p><strong>Email:</strong> {{ quoteDetails.client.email }}</p>
        <p><strong>Phone Number:</strong> {{ quoteDetails.client.phoneNo }}</p>
      
        <h3><strong>CLIENT ADDRESS</strong></h3>
        <hr style="margin-top: -10px;">
        <p><strong>Street:</strong> {{ quoteDetails.clientAddress.streetNo }} {{ quoteDetails.clientAddress.streetName }}</p>
        <p><strong>Town:</strong> {{ quoteDetails.clientAddress.town }}</p>
        <p><strong>City:</strong> {{ quoteDetails.clientAddress.city }}</p>
        <p><strong>Postal Code:</strong> {{ quoteDetails.clientAddress.postalCode }}</p>
      
        <h4><strong>ITEMS</strong></h4>
        <table class="table table-bordered">
          <tbody>
            <ng-container *ngFor="let item of quoteDetails.items">
              <tr>
                <td class="header-cell">
                  <p><strong>Description:</strong></p>
                </td>
                <td class="data-cell">
                  <p>{{ item.desc }}</p>
                </td>
              </tr>
              <tr>
                <td class="header-cell">
                  <p><strong>Quantity:</strong></p>
                </td>
                <td class="data-cell">
                  <p>{{ item.qty }}</p>
                </td>
              </tr>
              <tr>
                <td class="header-cell">
                  <p><strong>Price:</strong></p>
                </td>
                <td class="data-cell">
                  <p>R {{ item.price }}</p>
                </td>
              </tr>
              <tr>
                <td class="header-cell">
                  <p><strong>Amount:</strong></p>
                </td>
                <td class="data-cell">
                  <p>R {{ quoteDetails.totalAmount }}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
         

        <button class="btn btn-secondary" style=" margin-bottom: -10px; margin-top: 10px; background-color: #9570F1;" (click)="toggleForms('form6')">Edit Quote</button>
   
      </div>
    </div>
  </div>
</div>
              </div>
            </div>

             <!-- End Displaying Invoice Details -->
          </div>

          <!--the forms-->
          <div *ngIf="currentForm === 'form6'">

            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
              <div class="card h-100">

                  <div class="">
                    <div class="">
                      <form [formGroup]="formData"(ngSubmit)="nextStep()">
                        <div formGroupName="client">
                          <!-- Client Information Fields -->
                          <label>First Name:</label>
                          <input type="text" style="margin-bottom: 25px;" formControlName="f_name" required />
                          <div *ngIf="formData.get('client.f_name')?.invalid && formData.get('client.f_name')?.touched">
                            <div *ngIf="formData.get('client.f_name')?.errors?.['required']" class="alert alert-danger">
                              First Name is required.
                            </div>
                          </div>
                          
                          
                          <label>Last Name:</label>
                          <input type="text"  style="margin-bottom: 25px;" formControlName="l_name" required />
                          <div *ngIf="formData.get('client.l_name')?.invalid && formData.get('client.l_name')?.touched">
                            <div *ngIf="formData.get('client.l_name')?.errors?.['required']" class="alert alert-danger">
                              Last Name is required.
                            </div>
                          </div>
                          
                          <label>Email:</label>
                          <input type="email"  style="margin-bottom: 25px;" formControlName="email" required />
                          <div *ngIf="formData.get('client.email')?.invalid && formData.get('client.email')?.touched">
                            <div *ngIf="formData.get('client.email')?.errors?.['required']"   class="alert alert-danger">Email is required. </div>
                            <div *ngIf="formData.get('client.email')?.errors?.['email']"   class="alert alert-danger">Enter a valid Email Address. </div>
                          </div>
                          
                          <label>Phone Number:</label>
                          <input type="text"  style="margin-bottom: 25px;" formControlName="phoneNo" required />
                          <div *ngIf="formData.get('client.phoneNo')?.invalid && formData.get('client.phoneNo')?.touched">
                            <div *ngIf="formData.get('client.phoneNo')?.errors?.['required']"   class="alert alert-danger">Phone Number is required.</div>
                            <div *ngIf="formData.get('client.phoneNo')?.errors?.['pattern']"   class="alert alert-danger">A valid Phone Number is required.</div>
                          </div>
                        </div>
                        <br>
                        <button type="submit"  (click)="toggleForms('form7')"  [disabled]="!formData.get('client')?.valid"class="button buttonBlue" >Continue
                          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                        </button>
                      </form>

                    </div>
                    <div id="orderStatisticsChart"></div>
                  </div>
                  
                
              </div>
            </div>



          </div>
        <!-- the end o form-->
        <div *ngIf="currentForm === 'form7'">

          <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100"  style="border-bottom: 2px; border-color: #9570F1;">

                <div class="">
                  <div class="">
                    <form [formGroup]="formData" (ngSubmit)="nextStep()">
                      <div formGroupName="clientAddress">
                        <!-- Client Address Fields -->
                        <label>Street Number:</label>
                        <input type="text"  style="margin-bottom: 25px;" formControlName="streetNo" required />
                        <div *ngIf="formData.get('clientAddress.streetNo')?.invalid && formData.get('clientAddress.streetNo')?.touched">
                          <div *ngIf="formData.get('clientAddress.streetNo')?.errors?.['required']" class="alert alert-danger">street Number is required.</div>
                          <div *ngIf="formData.get('clientAddress.streetNo')?.errors?.['pattern']" class="alert alert-danger">A valid Street Number is required.</div>
                        </div>
                        <label>Street Name:</label>
                        <input type="text"  style="margin-bottom: 25px;" formControlName="streetName" required />
                        <div *ngIf="formData.get('clientAddress.streetName')?.invalid && formData.get('clientAddress.streetName')?.touched">
                          <div *ngIf="formData.get('clientAddress.streetName')?.errors?.['required']" class="alert alert-danger">Street Name is required.</div>
                          
                        </div>
                        <label>Town:</label>
                        <input type="text"  style="margin-bottom: 25px;" formControlName="town" required />
                        <div *ngIf="formData.get('clientAddress.town')?.invalid && formData.get('clientAddress.town')?.touched">
                          <div *ngIf="formData.get('clientAddress.town')?.errors?.['required']" class="alert alert-danger">Town Name is required.</div>
                          
                        </div>
                        <label>City:</label>
                        <input type="text"  style="margin-bottom: 25px;" formControlName="city" required />
                        <div *ngIf="formData.get('clientAddress.city')?.invalid && formData.get('clientAddress.city')?.touched">
                          <div *ngIf="formData.get('clientAddress.city')?.errors?.['required']" class="alert alert-danger">City Name is required.</div>
                          
                        </div>

                        <label>Postal Code:</label>
                        <input type="text"  style="margin-bottom: 25px;" formControlName="postalCode" required />
                        <div *ngIf="formData.get('clientAddress.postalCode')?.invalid && formData.get('clientAddress.postalCode')?.touched">
                          <div *ngIf="formData.get('clientAddress.postalCode')?.errors?.['required']" class="alert alert-danger">street Number is required.</div>
                          <div *ngIf="formData.get('clientAddress.postalCode')?.errors?.['pattern']" class="alert alert-danger">A valid Street Number is required.</div>
                        </div>
                      </div>
                      <br>
                      <button type="submit" (click)="toggleForms('form8')"  class="button buttonBlue" >Continue
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                      </button>
                    </form>

                  </div>
                  <div id="orderStatisticsChart"></div>
                </div>
                
              
            </div>
          </div>
        </div>
        <!-- the end o form-->
        <div *ngIf="currentForm === 'form8'">
          <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100"  style="border-bottom: 2px; border-color: #9570F1;">

                <div class="">
                  <div class="">
                    <form [formGroup]="formData" (ngSubmit)="onSubmit(quoteDetails.quoteNo)">
                      <!-- Items -->
                      <div formArrayName="items">
                        <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                          <label>Item Description:</label>
                          <input type="text"  style="margin-bottom: 25px;" formControlName="desc" required />
                          <div *ngIf="items.controls[i].get('desc')?.errors && items.controls[i].get('desc')?.touched">
                            <div *ngIf="items.controls[i].get('desc')?.errors?.['required']" class="alert alert-danger">Description is required.</div>
                          </div>
                          <label>Price:</label>
                          <input type="text" style="margin-bottom: 25px;" formControlName="price" required />
                          <div *ngIf="items.controls[i].get('price')?.errors && items.controls[i].get('price')?.touched">
                            <div *ngIf="items.controls[i].get('price')?.errors?.['required']" class="alert alert-danger">Price is required.</div>
                            <div *ngIf="items.controls[i].get('qty')?.errors?.['pattern']" class="alert alert-danger">A valid Price is required.</div>
                          </div>
                          <label>Quantity:</label>
                          <input type="text" style="margin-bottom: 25px;" formControlName="qty" required />
                          <div *ngIf="items.controls[i].get('qty')?.errors && items.controls[i].get('qty')?.touched">
                            <div *ngIf="items.controls[i].get('qty')?.errors?.['required']" class="alert alert-danger">Quantity is required.</div>
                            <div *ngIf="items.controls[i].get('qty')?.errors?.['pattern']" class="alert alert-danger">A valid Quantity is required.</div>
                          </div>
                          <br>
                          <br>
                          <button type="button" (click)="removeItem(i)" class="buttons buttonBlues" style="margin-top: -30px;">Remove Item</button>
                        </div>
                      </div>
                      <br>
                      <button type="button" (click)="addItem()" class="buttons buttonBlues"style="margin-top: -125px; margin-left:150px ;">Add Item</button>
                    
                      
                        
                      

                    
                      
                      
                      <button type="submit"  [disabled]="submittingForm"[disabled]="!formData.valid" class="button buttonBlue">Update Quote
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                      </button>
                           <!-- Loading spinner -->
             <div *ngIf="submittingForm" class="spinner-container">
              <div class="spinner-border text-primary" role="status">
               <span class="visually-hidden">Loading...</span>
                </div>
              </div>
                      <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
                        {{ alertMessage }}
                      </div>
                    </form>
                  </div>
                  <div id="orderStatisticsChart"></div>
                </div>
                
              
            </div>
          </div>
        </div>
              <div class="scroll-container">

              

            </div>

              <div class="row">
<div class="col">                  <div class="card h-100">
                  </div>
                </div>
 
              </div>
           
            </div>
            <br/>
            <br/>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
 
  

    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/js/menu.js"></script>

  
    <script src="assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
