.imageCentering
{
    align-items: center;
    margin-top: 35px;
    text-align: center;
    margin-left: 30%;
    border: 2px solid #5c5a5a;
    border-radius: 200px;
   
}


.add-image
{
    margin-top: -45px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 65%;
    z-index: 1;
    top: -45px;
    
}
.rounded-background {
    width: 20px;
    height: 20px;
    background-color: #9570F1; /* Set your desired background color */
    border-radius: 50%; /* Use 50% for a circle, adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Set your desired text color */
}

  