.rounded-background {
    width: 20px;
    height: 20px;
    background-color: #9570F1; /* Set your desired background color */
    border-radius: 50%; /* Use 50% for a circle, adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Set your desired text color */
}
.new-notification {
    color: rgb(211, 50, 50); /* Change the color to the desired color for new notifications */
  }
  
  .normal-notification {
    color: rgb(63, 59, 59); /* Change the color to the normal color for viewed notifications */
  }
  .form-container {
    position: relative;
  }
  
  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.spinner-border {
  width: 3rem; /* Adjust the width */
  height: 3rem; /* Adjust the height */
}  